@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  src: url("../fonts/Poppins-Medium.ttf");
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-poppins: Poppins;
}
